/* main ( GRID SETTINGS ) */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: rebeccapurple; */
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.7fr 1fr 1fr 1fr 1fr 205px
}


/* NO MARGIN */

body {
    margin: 0px;
}


/* FIRST BLOCKS */

.t_program {
    position: relative; 
    grid-column: span 2;
    grid-row: span 2;
}
.txt_center_all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.p_program {
    position: relative; 
    background-color: white;
    grid-column: span 2;
    grid-row: span 2;
}
.kiddo {
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/kiddo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.vector {
    width: 30px;
    height: 30px;
    background-image: url("./images/Vector.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 35px;
    bottom: 35px;
}



.t_theme {
    grid-column: span 2;
    grid-row: span 2;
}


.p_theme {
    background-color: #FF8201;
    grid-column: span 2;
    grid-row: span 2;
}
.logobig {
    float: right;
    width: 78%;
}



.mobile_only {
    display: none;
}


.t_people {
    grid-column: span 2;
}
.t_people_container {
    margin-top: 6%;
    margin-left: 5%;
}


/* BACKGROUND PICTURES - IMG BLOCKS */

.p_participants {
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/women.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.p_schools {
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/schoolkiddos.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.p_partners {
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/colleques.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* MENU ALL ( HOVERS, TRIANGLES) */

.menu_container {
    position: relative;
    height: 100%;  
    color: #FFF;
    transition: 0.3s;
}
.menu_container:hover {
    color:#0536FC;
}
.menu_full {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
    transition: 0.3s;
}
.menu_full_top {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.menu_full_bottom {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu_full:hover {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #FFF;
    background-color: #0536FC;
}
.rectangle_vector {
    width: 100px;
    height: 100px;
    background-color: #FFF;
}
.menu_vector {
    background-image: url("./images/Frame53.png");
    height: 50px;
    width: 50px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_number {
    font-size: 16px;
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    opacity: 0.699999988079071;
    margin: 0px 0px 30px 0px;
}
.h3_menu {   
    font-size: 16px;
    font-family: 'Basis Grotesque Pro';
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 0px;
}
.h3_special_menu {   
    font-size: 16px;
    font-family: 'Basis Grotesque Pro';
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 45px 0px 0px 0px;
}
.menu_number_and_name {
    margin-top: 50px;
    margin-left: 50px;
}
.right_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.left_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 91px;
}
.menu_text {
    font-size: 16px;
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
    margin-bottom: 36px;
    margin-left: 50px;
}
.triangle_left {
    position: absolute;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-right: 25px solid;
    width: 1px;
    height: 1px;
    left: -50px;
    top: 37px;
}
.triangle_right {
    position: absolute;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 25px solid;
    width: 1px;
    height: 1px;
    right: -50px;
    top: 37px;
}


/* OFTEN CLASSES (FOR FUTURE DEV) */

.just_p {
    color: #000;
    font-size: 16px;
    font-family: 'Basis Grotesque Pro';
    line-height: 24px;
    letter-spacing: -0.48px;
    margin: 0px;
}
.h3 {
    color: #0536FC;
    font-size: 16px;
    font-family: 'Basis Grotesque Pro';
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 15px 0px;
}
.p {
    font-size: 16px;
    font-family: 'Basis Grotesque Pro';
    line-height: 24px;
    letter-spacing: -0.48px;
    margin: 55px 0px;
    opacity: 0.6000000238418579;
}
.h1_f {
    color: #000;
    font-size: 57px;
    font-family: 'Basis Grotesque Pro';
    font-weight: 700;
    line-height: 59px;
    letter-spacing: -1.71px;
    text-transform: uppercase;
    margin: 15px 0px;
}
.button_f {
    background-color: #0536FC;
    color: #FFF;
    font-size: 16px;
    font-family: 'Basis Grotesque Pro';
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 35px 18.25px;
    background-color: #0536FC;
    width: 213px;
    height: 55px;
    margin: 45px 15px;
}
.h1_s {
    color: #000;
    font-size: 38px;
    font-family: 'Basis Grotesque Pro';
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -1.14px;
    text-transform: uppercase;
    margin: 15px 0px;
}
.button_s {
    background-color: #0536FC;
    color: #FFF;
    font-size: 16px;
    font-family: 'Basis Grotesque Pro';
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 35px 17.37px;
    background-color: #0536FC;
    width: 213px;
    height: 55px;
    margin: 45px 15px;
}


/* PROBLEMS (NAME OF BLOCK) */

.text_right_problems_container {
    margin: 10px 0px 0px 50px;
}
.text_left_problems_container {
    margin: 0px 5% 20% 0px;
}
.unit {
    grid-column: span 1;
    grid-row: span 1;
    margin: 0px auto 0px
}
.unit_h1 {
    color: #000;
    font-size: 100px;
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -3px;
    text-transform: uppercase;
    margin: 0px 0px 29px 0px;
}
.unit_img_1 {
    background-image: url("./images/Union11.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    margin: 0px 35px 0px 0px;
}
.unit_img_2 {
    background-image: url("./images/Union22.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 99px;
    height: 70px;
    margin: 0px 35px 0px 0px;
}
.unit_img_3 {
    background-image: url("./images/Union33.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 73px;
    height: 70px;
    margin: 0px 35px 0px 0px;
}
.infographics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.unit_top {
    display: flex;
    align-items: center;
}
.t_problems {
    grid-column: span 4;
    grid-row: span 1;
}
.text_problems {
    display: flex;
    width: 100%;
    height: 100%;
}
.laptop_only_fake_unit  {
    grid-column: span 1;
    grid-row: span 1;
}
.right_problems {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left_problems {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infogr_problems {
    width: 100%;
    height: 39.5%;
    display: flex;
    justify-content: flex-end;
}
.mobile_only_white {
    display: none;
    
}


/* SUPPORT */

.t_support {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.t_support_container {
    margin-top: 135px;
}
.p_support  {
    color: #000;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
    opacity: 0.3499999940395355;
    margin: 55px 0px 15px 0px;
}
.q_and_a_support {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.q_and_a_container {
    width: 60%;
    margin: 313px 0px 0px 0px;
}

.q_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.input_radio_hidden_q_a:checked + .q_container .minus {
    display: block;
}
.input_radio_hidden_q_a:checked + .q_container .plus {
    display: none;
}


.input_radio_hidden_q_a:checked ~ .a_text {
    display: block;
    color: #000;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
    opacity: 0.6000000238418579;
}
.a_text {
    display: none;
    color: #000;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
    opacity: 0.6000000238418579;
    margin: 0px 0px 70px 0px;
}

.color_and_quantity {
    margin-top: 20px 0px 0px 0px;
}

.q_and_a {
    width: 100%;
    border-top: 1px solid #cecece;
}

.input_radio_hidden_q_a {
    display: none;
}

.q_p {
    color: #000;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 30px 0px 70px 0px;
}

.minus {
    display: none;
    margin: 35px 0px 0px 0px;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.plus {
    display: block;
    margin: 35px 0px 0px 0px;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}


/* PARTNERS */

.img_partner_first {
    opacity: 0.550000011920929;
    height: 55%;
}

.img_partner_second {
    opacity: 0.44999998807907104;
    height: 55%;
}

.img_patner_third {
    opacity: 0.550000011920929;
    height: 15%;
}

.img_patner_fourth {
    opacity: 0.3499999940395355;
    height: 15%;
}

.unit_partners {
    grid-column: span 1;
    grid-row: span 1;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.unit_partners:hover {
    background-color: #0536FC;
    transition: 0.3s;
}

.unit_partners:hover + .menu_partners_full_bottom {
    color: white;
    transition: 0.3s;
}

.menu_partners_full_top {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_partners_full_bottom {
    width: 100%;
    height: 60%;
}

.menu_partners_text {
    color: #FFF;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
    margin: 70px 0px 0px 50px;
}

.menu_partners_h1 {
    color: black;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 0px 0px 0px 50px;
    transition: 0.3s;
}

.univrsal_fake { 
    grid-column: span 2;
    grid-row: span 1;
}
.univrsal { 
    grid-column: span 2;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.univesal_container {
    margin-left: 27%;
}

.unit_partners:hover > .menu_partners_full_bottom .menu_partners_h1 {
    color: white;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 0px 0px 0px 50px;
}

.menu_partners_bottom_bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.rectangle_vector {
    background-color: white;
}

.menu_partners_full_bottom {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.invest_bold_text_special {
    color: #000;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 30px 0px 15px 0px;
}

.idk {
    margin-top: 69px;
}

.buttom_thrd {
    width: 213px;
    height: 55px;
    flex-shrink: 0;
    background: #0536FC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit_msg{
    display: none;
}

.to_top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: span 2;
    grid-row: span 1;
}

.button_p {
    color: #FFF;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 0px;
}

input[type="text"] {
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px 0px;
    width: 478px;
}


/* MEDIA */

@media screen and (max-width: 1024px) {


    /* MENU BLOCKS */

    .left_menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 30px;
    }
    .rectangle_vector {
        display: none;
    }


    /* OFTEN CLASSES (FOR FUTURE DEV) */

    .h3 {
        color: #0536FC;
        font-size: 16px;
        font-family: 'Basis Grotesque Pro';
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
        margin: 15px 0px;
    }
    .p {
        color: #000;
        font-size: 16px;
        font-family: 'Basis Grotesque Pro';
        line-height: 24px;
        letter-spacing: -0.48px;
        margin: 20px 15px 35px;
    }
    .h1_f {
        color: #000;
        font-size: 38px;
        font-family: 'Basis Grotesque Pro';
        font-weight: 700;
        line-height: 39px;
        letter-spacing: -1.71px;
        text-transform: uppercase;
        margin: 15px 0px;
    }
    .button_f {
        background-color: #0536FC;
        color: #FFF;
        font-size: 16px;
        font-family: 'Basis Grotesque Pro';
        line-height: 24px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 18px 35px 18.25px;
        background-color: #0536FC;
        width: 213px;
        height: 55px;
        margin: 45px 15px;
    }
    .h1_s {
        color: #000;
        font-size: 28px;
        font-family: 'Basis Grotesque Pro';
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1.14px;
        text-transform: uppercase;
        margin: 15px 0px;
    }
    .button_s {
        background-color: #0536FC;
        color: #FFF;
        font-size: 16px;
        font-family: 'Basis Grotesque Pro';
        line-height: 24px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 17px 35px 17.37px;
        background-color: #0536FC;
        width: 213px;
        height: 55px;
        margin: 45px 15px;
    }


    /* PARTNERS */
    
    .img_partner_first {
        opacity: 0.550000011920929;
        height: 50%;
    }
    
    .img_partner_second {
        opacity: 0.44999998807907104;
        height: 40%;
    }
    
    .img_patner_third {
        opacity: 0.550000011920929;
        height: 10%;
    }
    
    .img_patner_fourth {
        opacity: 0.3499999940395355;
        height: 10%;
    }




    input[type="text"] {
        width: 300px;
    }

}
@media screen and (max-width: 890px) {


    /* main ( GRID SETTINGS ) */

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 
                            1fr 1fr 1fr 1fr 1fr 
                            1fr 0.75fr 0.75fr 0.75fr 0.5fr 
                            0.5fr 1fr 1.7fr 1fr 1fr 
                            1fr 1fr 1fr 1fr 1fr 
                            1fr 205px;
    }


    /* FIRST BLOCKS */

    .p_theme {
        display: none;
    }
    .t_program {
        height: 420px;
        grid-row: span 1;
    }
    .right_header {
        display: none;
    }
    .t_theme {
        height: 420px;
        grid-row: span 1;
    }
    .mobile_only {
        display: block;
        background-color: #FF8201;
        grid-column: span 2;
        grid-row: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* MENU */

    .left_menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 30px;
    }
    .menu_text {
        font-size: 12px;
        font-family: 'Basis Grotesque Pro';
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.48px;
        margin-bottom: 36px;
        margin-left: 20px;
    }
    .unit {
        grid-column: span 2;
        grid-row: span 1;
    }
    .menu_number_and_name {
        margin-top: 50px;
        margin-left: 20px;
    }


    /* OFTEN CLASSES (FOR FUTURE DEV) */

    .h3 {
        color: #0536FC;
        font-size: 16px;
        font-family: 'Basis Grotesque Pro';
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
        margin: 15px 0px;
    }
    .p {
        color: #000;
        font-size: 16px;
        font-family: 'Basis Grotesque Pro';
        line-height: 24px;
        letter-spacing: -0.48px;
        margin: 20px 0px 35px;
        opacity: 0.6000000238418579;
    }
    .h1_f {
        color: #000;
        font-size: 38px;
        font-family: 'Basis Grotesque Pro';
        font-weight: 700;
        line-height: 39px;
        letter-spacing: -1.71px;
        text-transform: uppercase;
        margin: 15px 0px;
    }
    .laptop_only_fake_unit  {
        display: none;
    }
    .button_f {
        background-color: #0536FC;
        color: #FFF;
        font-size: 16px;
        font-family: 'Basis Grotesque Pro';
        line-height: 24px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 18px 35px 18.25px;
        background-color: #0536FC;
        width: 213px;
        height: 55px;
        margin: 45px 15px;
    }
    .h1_s {
        color: #000;
        font-size: 28px;
        font-family: 'Basis Grotesque Pro';
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1.14px;
        text-transform: uppercase;
        margin: 15px 0px;
    }
    .button_s {
        background-color: #0536FC;
        color: #FFF;
        font-size: 16px;
        font-family: 'Basis Grotesque Pro';
        line-height: 24px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 17px 35px 17.37px;
        background-color: #0536FC;
        width: 213px;
        height: 55px;
        margin: 45px 15px;
    }


    /* PROBLEMS */

    .right_problems {
        display: flex;
        justify-content: center;
    }
    .t_problems {
        grid-column: span 2;
        grid-row: span 1;
    }
    .left_problems{
        display: none;
    }
    .mobile_only_white {
        display: block;
        background-color: #ffffff;
        grid-column: span 2;
        grid-row: span 2;
    }
    .infogr_problems {
        display: none;
    }


    /* PARTNERS */
    
    .univrsal_fake { 
        display: none;
    }

    .unit_partners {
        grid-column: span 2;
        grid-row: span 1;
    }
    
    .img_partner_first {
        opacity: 0.550000011920929;
        height: 70%;
    }
    
    .img_partner_second {
        opacity: 0.44999998807907104;
        height: 40%;
    }
    
    .img_patner_third {
        opacity: 0.550000011920929;
        height: 20%;
    }
    
    .img_patner_fourth {
        opacity: 0.3499999940395355;
        height: 20%;
    }

    .menu_partners_text {
        margin: 30px 0px 30px 30px;
    }
    
    .menu_partners_h1 {
        margin: 0px 0px 0px 30px;
    }
    
    .unit_partners:hover > .menu_partners_full_bottom .menu_partners_h1 {
        margin: 0px 0px 0px 30px;
    }

    .q_and_a_container {
        margin: 0px 0px 0px 0px;
    }

    .t_support_container {
        margin: 0px 30px;
    }
}
@media screen and (max-width: 500px) {


    /* MENU */

    .left_menu {
        display: none;
    }


    /* CONTAINER */

    .txt_container {
        height: 100%;
    }


    /* HEADER */

    /* .text_logo {
        display: none;
    }
    .left_header {
        justify-content: center;
    }
    .img_logo {
        margin: 30px 0px 0px 0px;
    } */


    /* PARTNERS */
    
    .img_partner_first {
        opacity: 0.550000011920929;
        height: 70%;
    }
    
    .img_partner_second {
        opacity: 0.44999998807907104;
        height: 40%;
    }
    
    .img_patner_third {
        opacity: 0.550000011920929;
        height: 20%;
    }
    
    .img_patner_fourth {
        opacity: 0.3499999940395355;
        height: 20%;
    }

    .menu_partners_text {
        margin: 30px 0px 30px 30px;
    }
    
    .menu_partners_h1 {
        margin: 0px 0px 0px 30px;
    }

    .unit_partners:hover > .menu_partners_full_bottom .menu_partners_h1 {
        margin: 0px 0px 0px 30px;
    }

    .q_and_a_container {
        margin: 0px 0px 0px 0px;
    }

    .t_support_container {
        margin-top: 0px;
    }

    .univrsal { 
        grid-column: span 2;
        grid-row: span 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .to_top { 
        grid-column: span 2;
        grid-row: span 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .univesal_container {
        margin: 0px 15px;
    }
}